{% extends "layout.html" %}
{% set active_page = "AddUser" %}
{% block body %}

<div class='container'>
  <div class="row">

    <div class="col-sm-6">
      <form class="form-group" action="/adduser" method="POST">
        <h3>Add a new SDX developer user</h3><br>
        <p>
          Please enter an email for the user:<br>
          {{ form.email(size=100) }}<br>
        </p>
        <p>
          Please enter a password for the user:<br>
          {{ form.password }}<br>
        </p>
        {% if form.errors %}
            <ul class=errors>
            {% for error in form.errors %}
              <li>{{error}} : {{ form.errors[error][0] }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <input value="Add User" class="btn btn-default" type="submit"><br>
      </form>

      <br>
      {% if success %}
        Added new user {{user}}
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}