{% extends "layout.html" %}
{% set active_page = "AddUser" %}
{% block body %}

<div class='container'>
  <div class="row">

    <div class="col-sm-6">
        <h3>Add a new SDX developer user</h3><br>
        <p>
        Please enter an email for the user:<br>
        {{ form.email(size=100) }}<br>
        </p>
        <p>
            Please enter a password for the user:<br>
            {{ form.password }}<br>
        </p>
        <p><input type="submit" value="Add User"></p>
    </div>

  </div>
</div>

{% endblock %}