{% extends "layout.html" %}
{% set active_page = "decrypt" %}
{% block body %}

<div class='container'>
  <div class="row">
    
    <div class="col-sm-6">
      <form class="form-group" action="/decrypt" method="POST">
        <h3>Data to be decrypyted</h3><br>
        <div>
          <textarea class="form-control" name="EncryptedData" cols='40' rows='15'></textarea>
        </div>
        <input id="decrypt_form_submit" class="btn btn-default" type="submit">
      </form>
    </div>

    <div class="col-sm-6">
      <h3>sdx-decrypt Response</h3><br>
      <textarea id="decrypted_data_text" class="form-control" name="EncryptedData" cols='40' rows='15'>{{decrypted_data}}{{error}}</textarea>
    </div>

  </div>
</div>

{% endblock %}
