{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %} FTP {% endblock %}


{% block content %}

  {% include 'partials/navigation_tabs.html' %}

  <div class="container">

    {% include 'partials/receiver.html' %}

    <div class="alert hidden alert-danger" role="alert" style="overflow: auto">
      <div class="alert hidden alert-danger panel__body" role="alert">
        <div class="alert hidden alert-danger" role="alert">
          {# <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> #}
        </div>
      </div>
    </div>

    {% include 'partials/modal.html' %}

  </div>

{% endblock content %}
