{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %} Store {% endblock %}


{% block content %}

{% include 'partials/navigation_tabs.html' %}

<div class="container">
  <div class="col-xs-12">
    <form id='store-form' class="form-horizontal" action='/store/page/0'>
      <div class="form-group">
        <div class="col-md-11">
          <div class="input-group">
            <label class="col-md-1 control-label" for="valid">Valid:</label>
            {% for subfield in form.valid %}
              <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
              </tr>
            {% endfor %}<br> <br>

            <label class="col-md-1 control-label" for="tx_id">tx_id:</label> <br>
            {{ form.tx_id }}<br>

            <label class="col-md-1 control-label" for="ru_ref">ru_ref:</label> <br>
            {{ form.ru_ref }}<br>

            <label class="col-md-1 control-label" for="survey_id">survey_id:</label> <br>
            {{ form.survey_id }}<br> <br>

            <label class="col-md-1 control-label" for="datetime_earliest">datetime_earliest: </label>
            {{ form.datetime_earliest }}<br>

            <label class="col-md-1 control-label" for="datetime_latest">datetime_latest: </label>
            {{ form.datetime_latest }}<br> <br>

          </div>

          <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>
          </span>
          {% if form.errors %}
              <ul class=errors>
              {% for error in form.errors %}
                <li>{{error}} : {{ form.errors[error][0] }}</li>
              {% endfor %}
              </ul>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
