{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %} Submit {% endblock %}


{% block content %}

  {% include 'partials/navigation_tabs.html' %}

  <div class="alert hidden alert-danger" role="alert">
    <div class="alert hidden alert-danger panel__body" role="alert">
      <div class="alert hidden alert-danger" role="alert">
        {# <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> #}
      </div>
    </div>
  </div>

  <!--<div class="alert hidden alert-danger" role="alert">-->
    <!--{# <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <br>#}-->
  <!--</div>-->

  {% include 'partials/submitter.html' %}

  {% include 'partials/receiver.html' %}

<div class="modal fade" id="contentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <pre></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}
