{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %} Submit {% endblock %}


{% block content %}

  {% include 'partials/navigation_tabs.html' %}

    <div class="container">

    {% include 'partials/submitter.html' %}

      <div class="alert hidden alert-danger" role="alert" style="overflow: auto">
        <div class="alert hidden alert-danger panel__body" role="alert">
          <div class="alert hidden alert-danger" role="alert">
          </div>
        </div>
      </div>

    </div>

{% endblock content %}
