<h3> Receiver </h3>
<p>Lists of the <strong>most recent 20 files</strong> to hit the FTP server:</p>

<div id="response-data-wrapper">
  <div id="tabs">
    <ul class="navigation-tabs navigation-tabs--component" role="tablist">

      <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a href="/FTP/pck"
           class="btn btn--secondary btn--border navigation-tabs__tab">PCKs</a> </li>

      <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a href="/FTP/image"
           class="btn btn--secondary btn--border navigation-tabs__tab">Images</a> </li>

      <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a href="/FTP/index"
           class="btn btn--secondary btn--border navigation-tabs__tab">Indices</a> </li>

      <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a href="/FTP/receipt"
           class="btn btn--secondary btn--border navigation-tabs__tab">Receipts</a> </li>

      <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a href="/FTP/json"
           class="btn btn--secondary btn--border navigation-tabs__tab">Original JSON</a> </li>
    </ul>

    <div class="tab-content">
        {% if request.path=="/FTP/pck" or request.path=="/FTP" %}
          {% include 'partials/pck_data.html' %}
        {% elif request.path=="/FTP/image" %}
          {% include 'partials/image_data.html' %}
        {% elif request.path=="/FTP/index" %}
          {% include 'partials/image_index_data.html' %}
        {% elif request.path=="/FTP/receipt" %}
          {% include 'partials/receipts_data.html' %}
        {% elif request.path=="/FTP/json" %}
          {% include 'partials/json_data.html' %}
        {% endif %}
    </div>

    <br>
    <button id="refresh-ftp" class="btn btn-default">Refresh FTP</button>
    <button id="empty-ftp" class="btn btn-default">Empty FTP</button>
  </div>
</div>
