<!doctype html>
    <title>SDE App</title>
    <head>
        <script src="static/jquery-1.12.1.min.js"></script>
        <script src="static/app.js"></script>
    </head>
    <body>
        <form id='submitter-form'>
            <div>
                <label for='post-data'>Data to send:</label>
                <div><textarea id="post-data" name='post-data' cols='40' rows='20'></textarea></div>
            </div>
            <div><input type='submit' /></div>
        </form>
        <div class='response-data'>

        </div>
    </body>
</html>