{% extends "layout.html" %}
{% set active_page = "store" %}
{% block body %}
    <div class="col-xs-12">
        <h3>sdx-store</h3>
        <form id='store-form'>
            <div class="form-group">
                <label for='ru_ref'>RU Ref</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="ru_ref" name="ru_ref">
                    <span class="input-group-btn">
                        <button class ="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </div>
        </form>

        {% if ru_ref %}
            <h5>Showing documents with RU Ref: {{ ru_ref }}</h5>
        {% else %}
            <h5>Showing all documents</h5>
        {% endif %}
        {% if data.results|length > 0 %}
            <div class="table-responsive">
                {{ pagination.info }}
                {{ pagination.links }}
                <table class="table table-hover table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Survey ID</th>
                            <th>RU Ref</th>
                            <th>User ID</th>
                            <th>Added Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data.results %}
                            <tr>
                               <td>{{ item._id }}</td>
                               <td>{{ item.survey_response.survey_id }}</td>
                               <td>{{ item.survey_response.metadata.ru_ref }}</td>
                               <td>{{ item.survey_response.metadata.user_id }}</td>
                               <td>{{ item.added_date }}</td>
                               <th><button class="btn btn-primary btn-reprocess" data-id="{{item._id}}">Process</button></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ pagination.links }}
            </div>
        {% else %}
            <h5>No documents</h5>
        {% endif %}
    </div>
{% endblock %}
